<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Q Dot Admin</title>
</head>
<body class="mb-2 bg-primary text-white">



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="media/Q_dot_logo.png" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >

        <ul class="navbar-nav ml-auto" >
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Section
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">L1</a>
                    <a class="dropdown-item" href="#">L2</a>
                    <a class="dropdown-item" href="#">L3</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Queue <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="admin.html">Admin</a>
            </li>

        </ul>
    </div>
</nav>

<style>
    .c_textField{
        border-radius: 15px;
    }

    .list-group{
        max-height: 300px;
        margin-bottom: 10px;
        overflow-y:auto;
        -webkit-overflow-scrolling: touch;
        border-radius: 15px;
    }

    .in-list-button{
        margin-top: -25px;height:35px;
    }

</style>


<script>


    //each person needs a ticket time, a name, a table number, question problem, a claimed boolean,
    function update( ){

    }

</script>


<div class = "container-fluid " style = "margin-top:2%" >
    <div class = "row">

        <!--setup estimated wait time-->
        <div class = "col-sm mt-3" style = "font-size: 35px ; font-family: 'Segoe UI Light'"></div>


        <div class = "col-lg-6 ">

            <!--setup available students-->

            <div class = "container-fluid" >
                <div class = "row mx-3 mt-4">
                    <div class ="col-sm  p-0 ">
                        <ul class = "list-group c_TAField">
                            <li class = "list-group-item list-group-item-light ">Einstein, Table 5, problem 4
                                <button type = "button" class = " btn btn-danger ml-auto d-flex justify-content-end in-list-button"
                                onclick="">Claim</button>
                            </li>
                            <li class = "list-group-item list-group-item-light ">Elon Musk</li>
                            <li class = "list-group-item list-group-item-light ">Mark Zuckerberg</li>
                            <li class = "list-group-item list-group-item-light ">Elon Musk</li>
                            <li class = "list-group-item list-group-item-light ">Mark Zuckerberg</li>
                            <li class = "list-group-item list-group-item-light ">Elon Musk</li>
                            <li class = "list-group-item list-group-item-light ">Mark Zuckerberg</li>

                        </ul>
                    </div>


                </div>

            </div>


        </div>
        <div class = "col-sm "></div>


    </div>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>